
@import "../variables.scss";

.container{
  font-family: $font-Family-Kumbh;
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid lightgray;
  border-radius:$border-value;
  cursor: pointer;
  margin: 30px;
  display: flex;
  flex-direction: column;

  .placePhoto{
    height: auto;
    width: 100%;
    border-top-left-radius: $border-value;
    border-top-right-radius: $border-value;
  }

  .footer{
    background:linear-gradient($color-Card, $Primary-Lightest);
    border-bottom-left-radius: $border-value;
    border-bottom-right-radius: $border-value;
    height: $space-large;
    padding: $space-micro;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: border 1s;
    border: 1.8px solid black;
  }

  
}

.like{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 8px;
}

.hostInfo{
  width: 48px;
  height: 72px;
  position: absolute;
  bottom: 30px;
  right: $border-value;

  p{
    margin: 0;
  }

  img{
    border: 3px solid $color-Card;
    border-radius: $border-value;
    height: 48px;
    object-fit: cover;
    object-position: center center;
    width: 48px;
  }
}

.container .footer:hover{
    border: 1px solid lightseagreen;
    
    background-color: lightskyblue;
    
  }

  .container:hover{
  box-shadow: $value-shadow-box-blue-2;

  }