@import '../variables.scss';

.header{
  z-index: 1000;
  min-width: 100%;
  background: linear-gradient($Primary-Lightest, $color-Card);
  border-radius: $border-value;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $value-shadow-box;
  
}

.header-bar{
  width: minmax(360px, maxcontent );
  height: $space-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bar-img-logo{
  width: 37.6px;
  height: 37.6px;
  background-image: url("../img/roomie-finder-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 20px;
}

.font-menu:checked ~ .nav-list{
  display: flex;
}

.font-menu{
  display: none;
}

.fa-bars{
  font-size: 26px;
  margin: 0 20px;
  cursor: pointer;
}

.slide-menu-nav{
  display: inline-block;
  font-family:$font-Family-Kumbh;
}

.nav-list{
  display: none;
  list-style: none;
  padding: inherit;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 89px;
  margin: 5px;
}

.nav-list-item{
  font-size:20px;
  cursor: pointer;
  border-radius: $border-value;
  color:$color-Black;
  padding: $space-micro;
  border:  0.5px solid none;
  transition: color 1s, box-shadow 1s,border-bottom 1s;
}

.nav-list-item:hover{
  
  border-bottom:  1px solid none ;
  box-shadow:$value-shadow-box-blue;
}


@media only screen and (min-width:64em) { 
  .header{
    flex-direction: row;
    align-items: center;
    max-height: $space-large;
    border-radius: 0px;
    min-width: 100%;
  }

  .header-bar-img-logo{
    background-image: url("../img/roomie-finder-official-logo.svg");
    min-width: 150px;
  }

  #slide-nav-button{
    display: none;
  }

  #slide-menu{
    display: inline-block;
  }

  .nav-list{
    display: flex;
    flex-direction: row;
    min-width: 400px;
  }
}
