@import "../variables.scss";

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  margin-bottom: 5em;
  z-index: 10;
}


.heroImage {
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 0 auto;
  margin-right: 20px;
  width: 60%;
  transition: transform 2s;
}

.heroImage:hover{
  border: 1px none $color-Card;
  transform:scale(0.90);

}

.welcome {
  text-align: center;
  width: 500px;
  border: 1px solid black;
  transition: transform 2s, border 2s, border-color 2s; 
   background: linear-gradient(#f0f4ff, $Primary-Lighter);
   border-radius: $border-value;
}
.welcome:hover{
  border: 1px dashed $color-Card;
  transform:scale(0.90);
}

.container h1 {
  font-family:  $font-Family-Kumbh;
  font-weight: 600;
  font-size: 3rem;
  margin: 40px;
  padding-left: 20px;
}

@media screen
  and (device-width: 640px) {
    .container {
      align-items: start;
      height: 800px;
    }

    .heroImage {
      height:  0 auto;
      width: 100%;
    }
}

@media screen and (min-width:425px) and ( max-width:599px) {
  .container{
    width:100%;
  }
  .heroImage{
    width: 100%;
  }

}

@media screen and (min-width:600px) and ( max-width:1023px) {
  .heroImage{
    width: 100%;
  }

}