@import "../variables.scss";

.principalContainer {
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  display: grid;
  background: -webkit-linear-gradient(#f0f4ff, #92ffeb9f);
  filter: blur(40%);
  place-items: center;
  z-index: 9999;
  .container {
    border: 1px solid black; 
    width: 425px;
    height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient($Primary,$Primary-Lighter);
    margin: auto;
    border-radius: 6px;
    box-shadow:$value-shadow-box;
    div {
      height: 84%;
      width: 80%;
      margin: 7% 10%;
      display: grid;
      grid-template-rows: 4% 8% 80% 8%;
      justify-items: center;
      span {
        font-size: 18px;
        font-weight: 700;
        justify-self: flex-end;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      h2 {
        justify-self: start;
        margin: 5px;
      }
      form {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-content: space-around;
      }
      p {
        align-self: end;
        margin: 5px;
        span {
          color: blue;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
.container form {
  input,
  select {
    height: 35px;
    width: 100%;
    font-size: 16px;
    background-color: white;
    padding-left: 10px;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 0px;
    justify-content: left;
  }

  & > section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    h3 {
      justify-self: center;
      margin: 0;
    }
    select {
      display: flex;
      justify-content: center;
    }
  }

  article {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 20px;
    align-items: center;
    section {
      
      width: 100%;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 20px;
      margin-bottom: 0px;
    }
    & ~ input {
      width: 150px;
      background-color: #23ce6b;
      align-self: end;
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
  }
  article section {
    input {
      width: 100%;
      
    }
  }
}

.displayNone {
  display: none;
}






@media screen and (min-width:320px) and ( max-width:599px) {
  .principalContainer{
    .container{
      width:95%;
  height: 90vh;
   div{
     font-size: 15px;
     width: 80%;
   }
  }
  }
}

@media screen and (min-width:600px) and ( max-width:1023px) {
  .principalContainer{
    .container{
  height: 90vh;

  }
  }

}