@import '../variables.scss';
.containerDetails{
  padding: $space-medium;
  display: flex;
  justify-content: space-around;
  h2{
    font-weight: 400;
  }

}

.infoRoom{
  padding: $space-medium;
  max-width: 600px;
  ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
  }
}

.infoHost{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .photoHost{
    border-radius: 20px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    width: 100px;
  }

  small{
    margin-bottom: $space-nano;
  }

  article{
    img{
      margin-right: $space-micro;
      object-fit: cover;
      object-position: center center;
    }
  }

  button{
    font-family: $font-Family-Kumbh;
    cursor: pointer;
    border: none;
    background-color: #23CE6B;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0;
    color: white;
    font-size: 14px;
    &:hover{
      background-color: #23ce6abb;
    }
  }
}

@media screen  and  (min-width:425px) and  (max-width:599px) {
  .containerDetails{
    padding: 20px;
    flex-direction: column-reverse;
  }

  .infoRoom{
    padding: 5px;
  }

  .infoHost{
    margin:  0 auto;
  }
}