@import "../variables.scss";

.mainContainer{
  align-items: center;
  display: grid;
  grid-template-rows: 100px 1fr;
  font-family: $font-Family-Kumbh;
  justify-content: center;
}

.Cards{
  align-items: center;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-gap: 40px;
    // height: 50vh;
    // width: 100%;
    justify-content: center;
    h1{
      text-align: center;
      margin-top: 30px;
    }
}
