@import '../variables.scss';

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
   margin: 5rem 0 ;
  background-color:  #F6F8FF;
  border: 1px solid #50514F;
  border-radius: 10px;
  height: 40px;
  padding: 0 1rem;
  width: 80%;
}

.search:hover{
  box-shadow: $value-shadow-searchs;

}

.search input{
  background-color:  #F6F8FF;
  border: none;
  font-family: $font-Family-Kumbh;
  height: 38px;
  outline: none;
  width: 640px;
  font-weight: 500;
  font-size: 1.1em;
}


.searchIcon {
  background-color:  #F6F8FF;
  border: none;
  display: flex;
  height: 30px;
  margin: 0;
  outline: none;
  width: 30px;
}

.searchIcon:hover {
  cursor: pointer;
}

.searchIcon img{
  height: 30px;
  align-self: center;
  justify-self: center;
}

// Mobile
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    .search {
      width: 70%;
    }
}

// Tablet
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

@media screen and (min-width:425px) and ( max-width:599px) {
  .search{
    width:80%;
    margin:4rem;
  }
}