/*------------------------------------------------*\
                    $VARIABLES
\---------------------------------------------------*\

/* here we define the variables that will be used */

/* imports fonts*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Roboto:ital,wght@0,400;1,300;1,500&display=swap");

/*branding Colors  */
$Primary-Lightest: #92ffeb;
$Primary-Lightest-Gray: #9ea5a5;
$Primary-Lighter: #d8fcff;
$Primary-Lighter-Gray: #4b5252;
$Primary-Light: #a8ffff;
$Primary-Light-Gray: #737a7a;
$Primary: #f6f8ff;
$Primary-Gray: #272d2d;
$Primary-green: #b7ffae;
$Primary-Dark: #cad2d2;
$color-Background-Container: #fef6e4;
$color-Background-Section: #fffffe;
$color-Warning-Primary: #f582ae;
$color-Warning-Yellow: #f0e26e;
$color-warning-Green: #98ee98;
$color-Black: #000;
$color-Border-Card: #50514f;
$color-Card: #99afff;

/*-----FONTS-----*/

$font-Family-Kumbh: "Kumbh Sans", sans-serif;
$font-Family-Roboto: "Roboto", sans-serif;

@mixin paragraph {
  font-size: 14px;
  color: $color-Black;
  font-family: $font-Family-Roboto;
}

@mixin h2 {
  font-size: 38px;
  font-family: $font-Family-Kumbh;
}

/*--- TITLES ---*/

// @each $header, $size in (h1, 52px), (h2, 38px), (h3, 32px), (h4, 28px), (h5, 24px) {
//   #{$header} {
//     font-size: $size;
//     font-weight: 900;
//     font-family: $font-Family-Kumbh;
//     color: $color-Black;
//   }
// }

// /*--- CONTENT ---*/

// @each $type_text, $size,
//   $weight in (strong, 18px, 400) (p, 18px, 400) (small, 16px, 400)
// {
//   #{$type_text} {
//     font-size: $size;
//     font-weight: $weight;
//     font-family: $font-Family-Roboto;
//     color: $color-Black;
//   }
// }

/*---- SPACING ---*/
$space-nano: 8px;
$space-micro: 10px;
$space-small: 24px;
$space-medium: 40px;
$space-large: 80px;
$space-extraLarge: 170px;

/*---- EFFECTS ---*/

$value-shadow-box: 0px 4px 4px rgba(0, 0, 0, 0.5);
$value-shadow-box-blue:0px 4px 4px rgba(230, 18, 219, 0.575);
$value-shadow-searchs:0px 4px 4px rgba(58, 154, 179, 0.575);
$border-value: 10px;
$value-shadow-box-blue-2:4px 8px 8px rgba(230, 18, 219, 0.575);
